.graph {
    margin: 15px auto;
    width: 700px;
    height: 790px;
    border: 1px solid #000;
    border-radius: 20px;
    font-family: Arial;
    padding: 20px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.row {
    margin-inline-start: 150px;
    display: flex;
}

.input {
    display: inline-block;
    margin: 10px;
    height: 15px;
}

.button {
    margin: 10px;
    margin-top: 15px;
    display: inline-block;
    margin-inline-start: 320px;
}