<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="calculator">
        <div class="calc-screen">
            <p>0</p>

        </div>
        <div class="buttons">
            <div class="btn.none empty"></div>
            <div class="btn.none empty"></div>
            <div class="btn.none empty"></div>
            <div class="btn.none empty"></div>
            <div class="btn.none empty"></div>
            <div id="btn_clean_one" class="btn cleanOne">--</div>
            <div id="btn_clean_all" class="btn cleanAll">AC</div>

            <div id="btn_graph" class="btn graph bg-green">graph</div>
            <div id="btn_x" class="btn x bg-grey">x</div>
            <div id="btn_e" class="btn e bg-grey">e</div>
            <div id="btn_bracket_open" class="btn bracketOpen">(</div>
            <div id="btn_bracket_close" class="btn bracketClose">)</div>
            <div id="btn_pow" class="btn pow bg-orange">^</div>
            <div id="btn_mod" class="btn mod bg-orange">mod</div>

            <div id="btn_sqrt" class="btn sqrt bg-grey">sqrt</div>
            <div id="btn_ln" class="btn ln bg-grey">ln</div>
            <div id="btn_log" class="btn log bg-grey">log</div>
            <div id="btn_7" class="btn seven">7</div>
            <div id="btn_8" class="btn eight">8</div>
            <div id="btn_9" class="btn nine">9</div>
            <div id="btn_division" class="btn division bg-orange">÷</div>

            <div id="btn_sin" class="btn sin bg-grey">sin</div>
            <div id="btn_cos" class="btn cos bg-grey">cos</div>
            <div id="btn_tan" class="btn tan bg-grey">tan</div>
            <div id="btn_4" class="btn four">4</div>
            <div id="btn_5" class="btn five">5</div>
            <div id="btn_6" class="btn six">6</div>
            <div id="btn_multiply" class="btn multiply bg-orange">x</div>

            <div id="btn_asin" class="btn asin bg-grey">asin</div>
            <div id="btn_acos" class="btn acos bg-grey">acos</div>
            <div id="btn_atan" class="btn atan bg-grey">atan</div>
            <div id="btn_1" class="btn one">1</div>
            <div id="btn_2" class="btn two">2</div>
            <div id="btn_3" class="btn three">3</div>
            <div id="btn_minus" class="btn minus bg-orange">-</div>

            <div class="inputX ">
                <label for="inX">x = </label> <input class="inX" id="inX" type="text" name="inX" value="1.0">
            </div>
            <div id="btn_0" class="btn zero">0</div>
            <div id="btn_dot" class="btn dot">.</div>
            <div id="btn_equal" class="btn equal bg-red">=</div>
            <div id="btn_plus" class="btn plus bg-orange">+</div>
        </div>
    </div>

    <script>
        let output = '0';
        let b = '';
        let sign = '';
        let finish = false;
        const digit = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
        const action = ['-', '+', '÷', 'x'];

        var is_digit = true, is_sign = false, is_right_bracket = false, is_left_bracket = false,
            is_point = false, is_minus = false, is_x = false, is_e = false;
        var left_brackets_count = 0, right_brackets_count = 0;

        var key = '';
        const out = document.querySelector('.calc-screen p')
        // out.textContent = '0';

        
        function clearAll() {
            output = '';
            b = '';
            sign = '';
            finish = false;
            out.textContent = '0';
        }
        
        
        // document.querySelector('.buttons').onclick = (event) => {
        //     if (!event.target.classList.contains('btn')) return;

        //     if (event.target.classList.contains('cleanAll')) clearAll();


        //     // out.textContent = key;

        //     key = event.target.textContent;
        //     output+=key;
        //     out.textContent  =output;
        //     // document.getElementById("btn_1").addEventListener("click", digitPressed);
        //     // document.getElementById("btn_2").addEventListener("click", digitPressed);
        //     // document.getElementById("btn_3").addEventListener("click", digitPressed);
        //     // document.getElementById("btn_4").addEventListener("click", digitPressed);
        //     // document.getElementById("btn_5").addEventListener("click", digitPressed);
        //     // document.getElementById("btn_6").addEventListener("click", digitPressed);
        //     // document.getElementById("btn_7").addEventListener("click", digitPressed);
        //     // document.getElementById("btn_8").addEventListener("click", digitPressed);
        //     // document.getElementById("btn_9").addEventListener("click", digitPressed);

        //     // // if (digit.includes(key) || action.includes(key)){
        //     //     a+=key;
        //     //     console.log(a,b,sign);
        //     //     out.textContent = a;
        //     // }
        //     // if(key === '='){

        //     // }
        // }



        document.getElementById("btn_0").addEventListener("click", nullPressed);
        document.getElementById("btn_1").addEventListener("click", function(){
            digitPressed('1');
        } );
        document.getElementById("btn_2").addEventListener("click", digitPressed);
        document.getElementById("btn_3").addEventListener("click", digitPressed);
        document.getElementById("btn_4").addEventListener("click", digitPressed);
        document.getElementById("btn_5").addEventListener("click", digitPressed);
        document.getElementById("btn_6").addEventListener("click", digitPressed);
        document.getElementById("btn_7").addEventListener("click", digitPressed);
        document.getElementById("btn_8").addEventListener("click", digitPressed);
        document.getElementById("btn_9").addEventListener("click", digitPressed);
        document.getElementById("btn_exp").addEventListener("click", digitPressed);
        document.getElementById("btn_plus").addEventListener("click", signPressed);
        document.getElementById("btn_minus").addEventListener("click", signPressed);
        document.getElementById("btn_multiply").addEventListener("click", signPressed);
        document.getElementById("btn_division").addEventListener("click", signPressed);
        document.getElementById("btn_pow").addEventListener("click", signPressed);
        document.getElementById("btn_mod").addEventListener("click", signPressed);
        document.getElementById("btn_sqrt").addEventListener("click", functionPressed);
        document.getElementById("btn_ln").addEventListener("click", functionPressed);
        document.getElementById("btn_log").addEventListener("click", functionPressed);
        document.getElementById("btn_sin").addEventListener("click", functionPressed);
        document.getElementById("btn_cos").addEventListener("click", functionPressed);
        document.getElementById("btn_tan").addEventListener("click", functionPressed);
        document.getElementById("btn_asin").addEventListener("click", functionPressed);
        document.getElementById("btn_acos").addEventListener("click", functionPressed);
        document.getElementById("btn_atan").addEventListener("click", functionPressed);
        document.getElementById("btn_dot").addEventListener("click", dotPressed);
        document.getElementById("btn_bracket_open").addEventListener("click", bracketOpenPressed);
        document.getElementById("btn_bracket_close").addEventListener("click", bracketClosePressed);
        document.getElementById("btn_x").addEventListener("click", xPressed);


        function digitPressed(keyTxt) {
            // var size = output.length;
            // document.getElementById('expression').value += value;
            // key = event.target.textContent;
            output+=keyTxt;
            // if (key == 'e') {
            //     if (!is_e && !is_sign && output.substring(size - 1, size) != 'e' && is_digit) {
            //         output += key;
            //         // ui -> label -> setText(output_);
            //         is_sign = is_e = true;
            //         is_digit = false;
            //     }
            // } else {
            //     if (output.substring(size - 1, size) == '0' &&
            //         !(digit.contains(output.substring(size - 2, size - 1))))
            //         output = output.substring(0, size - 1);
            //     if (output == "0" || output == "nan" || output == "inf" || output == "-inf") {
            //         output = "";
            //         output = key;
            //         // ui -> label -> setText(output_);
            //     } else {
            //         if (is_x || is_right_bracket) output_ += '*';
            //         if (output_.substring(size - 1, size) == '-'
            //             && output_.substring(size - 2, size) == 'e') is_e = true;
            //         output += key;
            //         // ui -> label -> setText(output);
            //     }
            //     is_digit = true;
            //     is_minus = is_left_bracket = is_right_bracket = is_x = is_sign = false;
            // }
            out.textContent = output;
        }

        function nullPressed() {

        }

        function signPressed() {

        }

        function functionPressed() {

        }

        function dotPressed() {

        }

        function bracketOpenPressed() {

        }

        function bracketClosePressed() {

        }

        function xPressed() {

        }
    </script>

</body>

</html>