<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <div class="calculator">
        <div class="calc-screen">
            <p class="p1" th:text="${expression}">0</p>
            <p id="rez" class="p2" th:text="${result}">0</p>
        </div>
        <div class="buttons">
            <div class="btn.none empty"></div>
            <div class="btn.none empty"></div>
            <div class="btn.none empty"></div>
            <div class="btn.none empty"></div>
            <div class="btn.none empty"></div>
            <div id="btn_clean_one" class="btn cleanOne">--</div>
            <div id="btn_clean_all" class="btn cleanAll">AC</div>

            <!-- <div id="btn_graph" class="btn graph bg-green">graph</div> -->
            <form action="/graph">
                <input id="graphId" type="hidden" name="expression" value="">
                <button id="btn_graph" class="btn graph bg-green" type="submit">graph</button>
            </form>


            <div id="btn_x" class="btn x bg-grey">x</div>
            <div id="btn_e" class="btn e bg-grey">e</div>
            <div id="btn_bracket_open" class="btn bracketOpen">(</div>
            <div id="btn_bracket_close" class="btn bracketClose">)</div>
            <div id="btn_pow" class="btn pow bg-orange">^</div>
            <div id="btn_mod" class="btn mod bg-orange">mod</div>

            <div id="btn_sqrt" class="btn sqrt bg-grey">sqrt</div>
            <div id="btn_ln" class="btn ln bg-grey">ln</div>
            <div id="btn_log" class="btn log bg-grey">log</div>
            <div id="btn_7" class="btn seven">7</div>
            <div id="btn_8" class="btn eight">8</div>
            <div id="btn_9" class="btn nine">9</div>
            <div id="btn_division" class="btn division bg-orange">÷</div>

            <div id="btn_sin" class="btn sin bg-grey">sin</div>
            <div id="btn_cos" class="btn cos bg-grey">cos</div>
            <div id="btn_tan" class="btn tan bg-grey">tan</div>
            <div id="btn_4" class="btn four">4</div>
            <div id="btn_5" class="btn five">5</div>
            <div id="btn_6" class="btn six">6</div>
            <div id="btn_multiply" class="btn multiply bg-orange">*</div>

            <div id="btn_asin" class="btn asin bg-grey">asin</div>
            <div id="btn_acos" class="btn acos bg-grey">acos</div>
            <div id="btn_atan" class="btn atan bg-grey">atan</div>
            <div id="btn_1" class="btn one">1</div>
            <div id="btn_2" class="btn two">2</div>
            <div id="btn_3" class="btn three">3</div>
            <div id="btn_minus" class="btn minus bg-orange">-</div>

            <div class="inputX ">
                <label for="inX">x = </label> <input class="inX" id="inX" type="text" name="inX" value="1.0">
            </div>
            <div id="btn_0" class="btn zero">0</div>
            <div id="btn_dot" class="btn dot">.</div>

            <!-- <div id="btn_equal" class="btn equal bg-red">=</div> -->



            <form action="/calculate">
                <input id="ff" type="hidden" name="expression" value="">
                <button id="btn_equal" class="btn equal bg-red" type="submit">=</button>
            </form>


            <div id="btn_plus" class="btn plus bg-orange">+</div>
        </div>
    </div>

    <script>
        let output = document.getElementById("rez").textContent;

        const digit = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
        const action = ['-', '+', '÷', 'x'];

        let is_digit = true, is_sign = false, is_close_bracket = false, is_open_bracket = false,
            is_point = false, is_minus = false, is_x = false, is_e = false;
        let open_brackets_count = 0, close_brackets_count = 0;

        let point = '.';
        const out = document.querySelector('.p2');


        document.getElementById("btn_0").addEventListener("click", nullPressed);
        document.getElementById("btn_1").addEventListener("click", function () {
            digitPressed('1');
        });
        document.getElementById("btn_2").addEventListener("click", function () {
            digitPressed('2');
        });
        document.getElementById("btn_3").addEventListener("click", function () {
            digitPressed('3');
        });
        document.getElementById("btn_4").addEventListener("click", function () {
            digitPressed('4');
        });
        document.getElementById("btn_5").addEventListener("click", function () {
            digitPressed('5');
        });
        document.getElementById("btn_6").addEventListener("click", function () {
            digitPressed('6');
        });
        document.getElementById("btn_7").addEventListener("click", function () {
            digitPressed('7');
        });
        document.getElementById("btn_8").addEventListener("click", function () {
            digitPressed('8');
        });
        document.getElementById("btn_9").addEventListener("click", function () {
            digitPressed('9');
        });
        document.getElementById("btn_e").addEventListener("click", function () {
            digitPressed('e');
        });

        document.getElementById("btn_plus").addEventListener("click", function () {
            signPressed('+');
        });
        document.getElementById("btn_minus").addEventListener("click", function () {
            signPressed('-');
        });
        document.getElementById("btn_multiply").addEventListener("click", function () {
            signPressed('*')
        });
        document.getElementById("btn_division").addEventListener("click", function () {
            signPressed('÷');
        });
        document.getElementById("btn_pow").addEventListener("click", function () {
            signPressed('^');
        });
        document.getElementById("btn_mod").addEventListener("click", function () { signPressed('mod'); });
        document.getElementById("btn_sqrt").addEventListener("click", function () { functionPressed('sqrt(') });
        document.getElementById("btn_ln").addEventListener("click", function () { functionPressed('ln(') });
        document.getElementById("btn_log").addEventListener("click", function () { functionPressed('log(') });
        document.getElementById("btn_sin").addEventListener("click", function () { functionPressed('sin(') });
        document.getElementById("btn_cos").addEventListener("click", function () { functionPressed('cos(') });
        document.getElementById("btn_tan").addEventListener("click", function () { functionPressed('tan(') });
        document.getElementById("btn_asin").addEventListener("click", function () { functionPressed('asin(') });
        document.getElementById("btn_acos").addEventListener("click", function () { functionPressed('acos(') });
        document.getElementById("btn_atan").addEventListener("click", function () { functionPressed('atan(') });
        document.getElementById("btn_dot").addEventListener("click", dotPressed);
        document.getElementById("btn_bracket_open").addEventListener("click", bracketOpenPressed);
        document.getElementById("btn_bracket_close").addEventListener("click", bracketClosePressed);
        document.getElementById("btn_x").addEventListener("click", xPressed);
        
        document.getElementById("btn_clean_one").addEventListener("click", cleanOnePressed);
        document.getElementById("btn_clean_all").addEventListener("click", cleanAllPressed);
        document.getElementById("btn_equal").addEventListener("click", equalPressed);
        document.getElementById("btn_graph").addEventListener("click", graphPressed);

        function cleanAllPressed() {
            output = "";
            out.textContent = output;
            left_brackets_count = right_brackets_count = 0;
            console.log(is_point);
            whatPressed();
        }

        function graphPressed() {
            document.getElementById('graphId').setAttribute('value', output);
        }

        function cleanOnePressed() {
            let size = output.length;
            let str1 = "sqrtacosasinatan", str2 = "cossintanlog", str3 = "modinfnan";
            if (str1.includes(output.substring(size - 5, size - 1)) && size > 4) {
                output = output.substring(0, size - 5);
                is_open_bracket = false;
                left_brackets_count -= 1;
            } else if (str2.includes(output.substring(size - 4, size - 1)) && size > 3) {
                output = output.substring(0, size - 4);
                is_open_bracket = false;
                left_brackets_count -= 1;
            } else if (output.substring(size - 3, size - 1) === "ln(") {
                output = output.substring(0, size - 3);
                is_open_bracket = false;
                left_brackets_count -= 1;
            } else if (output.substring(size - 4, size - 1) === "-inf") {
                output = output.substring(0, size - 4);
            } else if (str3.includes(output.substring(size - 3, size - 1))) {
                output = output.substring(0, size - 3);
            } else {
                if (output.substring(size - 1) === '(') {
                    left_brackets_count -= 1;
                } else if (output.charAt(size - 1) === ')') {
                    right_brackets_count -= 1;
                }
                output = output.substring(0, size - 1);
            }
            out.textContent = output;
            whatPressed();
        }

        function whatPressed() {
            let size = output.length;
            is_digit = is_sign = is_point = is_right_bracket = is_left_bracket = is_minus = is_x = is_e = false;
            if (size > 0) {
                if (digit.includes(output[size - 1])) {
                    is_digit = true;
                } else if (output[size - 1] === '(') {
                    is_left_bracket = true;
                } else if (output[size - 1] === ')') {
                    is_right_bracket = true;
                } else if (output[size - 1] === point) {
                    is_point = true;
                } else if (output[size - 1] === 'x') {
                    is_x = true;
                } else if (output[size - 1] === 'e') {
                    is_e = true;
                } else if (output.substring(size - 1) === '-') {
                    let signs = "*÷m";
                    if (signs.includes(output.substring(size - 2))) is_minus = true;
                } else {
                    is_sign = true;
                }
            }
            console.log(is_point);
        }

        function equalPressed() {
            let size = output.length;
            if (size && !is_sign && !is_open_bracket && output[size - 1] !== '-') {
                for (let i = 0; i < open_brackets_count - close_brackets_count; i++) {
                    output += ")";
                }
                // let res;
                // if (output.includes('x')) {
                //     let x_value = ui.lineEdit.text();
                //     x_value = x_value.replace(/,/g, ".");
                //     let x = parseFloat(x_value);
                //     res = controller_.GetResult(output, x);
                // } else {
                //     res = controller_.GetResult(output);
                // }
                // output = "";
                // output = res.toPrecision(9).toString();
                // output = output.replace(/\./g, point);
                out.textContent = output;



                document.getElementById('ff').setAttribute('value', output);



                whatPressed();
                is_point = output.includes(point);
                is_e = output.includes('e');
                open_brackets_count = close_brackets_count = 0;
            }
        }

        function signPressed(text) {
            if (output !== "nan" && output !== "inf" && output !== "-inf") {
                var size = output.length;
                console.log(size);
                if (is_digit || is_close_bracket || is_x) {
                    if (output[size - 1] != 'e') {
                        console.log(size);
                        output += text;
                        out.textContent = output;
                    }
                    is_sign = true;
                    is_close_bracket = is_x = false;
                } else if ((is_open_bracket || !output) && text === "-") {
                    output += text;
                    out.textContent = output;
                } else if ((is_e || is_sign) && !is_minus) {
                    if (text === "-") {
                        if ((output[size - 1] === '*' || output[size - 1] === '/' || output[size - 1] === 'd' ||
                            output[size - 1] === 'e') &&
                            output[size - 1] !== '^') {
                            is_minus = true;
                        } else {
                            output = output.substring(0, size - 1);
                        }
                        output += text;
                        out.textContent = output;
                    } else {
                        if (output[size - 1] === 'd')
                            output = output.substring(0, size - 3);
                        else
                            output = output.substring(0, size - 1);
                        output += text;
                        out.textContent = output;
                    }
                }
                is_point = is_open_bracket = is_digit = is_e = false;
            }
        }

        function digitPressed(key) {
            console.log(is_point);
            var size = output.length;
            if (key === 'e') {
                if (!is_e && !is_sign && output.substring(size - 1, size) != 'e' && is_digit) {
                    output += key;
                    out.textContent = output;
                    is_sign = is_e = true;
                    is_digit = false;
                }
            } else {
                if (output.substring(size - 1, size) === '0' &&
                    !(digit.includes(key))) {
                    output = output.substring(0, size - 1);
                }

                if (output === "0" || output === "nan" || output === "inf" || output === "-inf") {
                    output = "";
                    output = key;
                    out.textContent = output;
                } else {
                    if (is_x || is_close_bracket) output += '*';
                    if (output.substring(size - 1, size) === '-'
                        && output.substring(size - 2, size) === 'e') is_e = true;
                    output += key;
                    out.textContent = output;
                }
                is_digit = true;
                is_minus = is_open_bracket = is_close_bracket = is_x = is_sign = false;
            }
        }


        function nullPressed() {
            const text = '0';
            var size = output.length;
            if (is_close_bracket || is_x) {
                output += "*";
                is_close_bracket = is_x = false;
            }
            if (!(output.substring(size - 1, size) === '0' && output.substring(size - 2, size - 1) !== point &&
                !(digit.includes(output.substring(size - 2, size - 1)))
            )) {
                output += text;
            }
            is_sign = false;
            is_digit = true;
            out.textContent = output;
        }

        function functionPressed(text) {
            if (output === "0" || output === "nan" || output === "inf" || output === "-inf") {
                output = "";
            }
            if (output.substring(output.length - 1) !== 'e') {
                if ((is_digit || is_point || is_close_bracket || is_x) && output.length != 0) {
                    output += '*';
                }
                output += text;
                out.textContent = output;
                open_brackets_count++;
                is_open_bracket = true;
                is_point = is_digit = is_close_bracket = is_x = false;
            }

        }

        function dotPressed() {
            var size = (output.length != 0) ? (output.length - 1) : 0;
            is_point = false;
            while (size > 0 && ((digit.includes(output[size])) || output[size] === point)) {
                if (output[size] === point) {
                    is_point = true;
                    out.textContent = output;
                }
                size--;
            }
            if (is_digit && !is_point && !is_close_bracket) {
                is_point = true;
                output += point;
                out.textContent = output;
            }
        }

        function bracketOpenPressed() {
            const text = '(';
            if (output === "0" || output === "nan" || output === "inf" || output === "-inf") {
                output = "";
            }
            var size = output.length;
            if (size == 0 || (output.substring(size - 1) != 'e' && output.substring(size - 2, size) != "e-")) {
                if ((is_digit || is_point || is_close_bracket || output.substring(size - 1) === 'x') && size != 0) {
                    output += '*';
                }
                open_brackets_count++;
                output += text;
                out.textContent = output;
                is_open_bracket = true, is_digit = is_close_bracket = is_sign = is_point = false;
            }

        }

        function bracketClosePressed() {
            const text = ')';

            if (open_brackets_count > close_brackets_count) {
                if ((is_digit || is_close_bracket || is_x) && !is_sign) {
                    close_brackets_count++;
                    output += text;
                    out.textContent = output;
                    is_close_bracket = true, is_digit = is_point = is_x = false;
                }
            }
        }

        function xPressed() {
            if (output === "0" || output === "nan" || output === "inf" || output === "-inf") {
                output = "";
            }
            if ((is_digit || is_close_bracket || is_x || is_point)
                && output.length !== 0 && !is_sign && !is_open_bracket) {
                output += "*";
            }
            output += "x";
            is_digit = is_sign = is_close_bracket = is_open_bracket = is_point = false;
            is_x = true;
            out.textContent = output;
        }
    </script>

</body>

</html>